<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div style="text-align: center;">

      <h1><strong>Cliente</strong></h1>
    </div>
    <form [formGroup]="spform" (submit)="aceptar()">

      <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput required placeholder="ID" formControlName="id">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput required placeholder="Nombre" formControlName="spName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput required placeholder="Dirección" formControlName="spAddress">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput required placeholder="999999999" formControlName="spPhone">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput required placeholder="Email@gmail.com" formControlName="spEmail">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="spYearOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>spDni</mat-label>
        <input matInput required placeholder="DNI" formControlName="spDni">
      </mat-form-field>
      <br>
      <div style="text-align: center;">

      <button mat-raised-button color="primary" routerLink="/spClient">Regresar</button>
      <br>
      </div>
      <p>{{spmessage}}</p>
    </form>
  </div>
</body>

</html>
